.loading {
  padding: 20px;
  text-align: center;
}

.load-more-button {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}

.load-more-button:hover {
  color: #111111;
}