.search-wrapper {
  height: 50px;
  text-align: center;
}

.search-input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}

.search-btn {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}

.search-btn:hover {
  color: #111111;
}